body {
    font-family:Verdana, sans-serif;
    background-color: lightblue;
}
.column {
    float: left;
    width: 33.33%;
}
.row {
    clear: both;
}
.column1 {
    background-color: #aaa;
}
.column2 {
    background-color: #bbb;
}
.column3 {
    background-color: #ccc;
}
